<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <input type="checkbox" id="checkbox">
        <span>本周不再显示</span>
    </div>
    <script type="text/javascript">
        // $("#checkbox").change(function(){
        //      alert("成功触发checkbox改变事件");
        // })
        document.getElementById("checkbox").onchange = function(){
            alert("成功触发checkbox改变事件");
        }
    </script>
</body>
</html>