<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Test.css"/>
</head>
<body>
    <!-- 这个是要放在整个大容器的子目录下的，确保其大小和整个网页大小一致 -->
    <div class="bili-dialog-m">
        <div class="bili-dialog-bomb">
            <div class="collection-m">
                <div class="title">
                    添加到收藏夹
                    <i class="close"></i>
                </div>
                <div class="content">
                    <div class="group-list">
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox"/>
                                    <i></i>
                                    <span title="默认收藏夹" class="fav-title">默认收藏夹</span>
                                    <span class="count">238</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"/>
                                    <i></i>
                                    <span title="自定义收藏夹1号" class="fav-title">自定义收藏夹1号</span>
                                    <span class="count">238/1000</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"/>
                                    <i></i>
                                    <span title="自定义收藏夹2号" class="fav-title">自定义收藏夹2号</span>
                                    <span class="count">238/1000</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"/>
                                    <i></i>
                                    <span title="自定义收藏夹3号" class="fav-title">自定义收藏夹3号</span>
                                    <span class="count">238/1000</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"/>
                                    <i></i>
                                    <span title="自定义收藏夹4号" class="fav-title">自定义收藏夹4号</span>
                                    <span class="count">238/1000</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"/>
                                    <i></i>
                                    <span title="自定义收藏夹5号" class="fav-title">自定义收藏夹5号</span>
                                    <span class="count">238/1000</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"/>
                                    <i></i>
                                    <span title="自定义收藏夹6号" class="fav-title">自定义收藏夹6号</span>
                                    <span class="count">238/1000</span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox"/>
                                    <i></i>
                                    <span title="自定义收藏夹7号" class="fav-title">自定义收藏夹7号</span>
                                    <span class="count">238/1000</span>
                                </label>
                            </li>
                        </ul>
                        <div class="add-group">
                            <div class="add-btn">新建收藏夹</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <button class="btn-fav">确定</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>